.holder{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	
}

.div-c{
	height:100px;
	width:100px;
	background:green;
	order:1;
}
.div-b{
	height:100px;
	width:100px;
	background:blue;
	order:3;
}
.div-a{
	height:100px;
	width:100px;
	background:red;
	order:2;
}